<footer>
        <div class="footerinfo">
            <span>Smart</span>
            <p>We offer a variety of educational courses designed to help you develop <br>
                your skills in different fields, whether you're a beginner or a professional. <br>
                Enjoy a unique learning experience with interactive content, practical exercises,<br>
                and certified certificates upon course completion.</p>
        </div>

        <div class="footerlist">
            <div class="footernav">
                <span>Smart</span>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/courses">Courses</a></li>
                    <li><a href="/contactUs">Contact Us</a></li>
                    <li><a href="/aboutUs">About</a></li>
                </ul>
            </div>

            <div class="footersw">
                <span>Software</span>
                <ul>
                    <li><a href="/frontend">Web Development: Frontend</a></li>
                    <li><a href="/backend">Web Development: Backend</a></li>
                    <li><a href="/mobile">Mobile Application</a></li>
                </ul>
            </div>

            <div class="footercs">
                <span>Computer Science</span>
                <ul>
                    <li><a href="/problemsolving">Problem Solving</a></li>
                    <li><a href="/datastruct">Data Structure</a></li>
                    <li><a href="/oop">Object Oriented Programming</a></li>
                </ul>
            </div>

            <div class="footernet">
                <span>Cyber Security</span>
                <ul>
                    <li><a href="/introcyber">Intro To Cyber Security</a></li>
                    <li><a href="/cehacker">Certified Ethical Hacker</a></li>
                    <li><a href="/cyberspec">Cyber Security Specialization</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-copyright">
            <hr>
            <span>&copy; 2025 Smart. All rights reserved.</span>
        </div>

        <div class="footer-contact">
            <span>Email: <a href="mailto:smart@gmail.com">smart@gmail.com</a></span>
        </div>

        <div class="footer-contact">
            <span>Phone: <a href="tel:0111222333">0111222333</a></span>
        </div>
    </footer>