<header>
        <img class="logo-img" src="/Photos/smart_academy-updated.png" alt="logo" onclick="window.location.href='/home'">
        <h2>Start Learning Smartly</h2>
</header>

<nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/courses">Courses</a></li>
            <li><a href="/contactUs">Contact Us</a></li>
            <li><a href="/aboutUs">About</a></li>
            <li><button id="sign" onclick="window.location.href='../signlog/SignLog.html'">Sign Up</button></li>
            <li>
                <div class="cart-container">
                    <button id="cartBtn">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="cart-count">0</span>
                    </button>
                </div>
            </li>
        </ul>
    </nav>