<nav class="navbar">
  <div class="nav-links">
    <a href="/home">Home</a>
    <a href="/courses">Courses</a>
    <a href="/aboutUs">About Us</a>
    <a href="/contactUs">Contact</a>
  </div>

  <div class="nav-search">
    <div class="search-container">
      <input type="text" placeholder="Search courses..." id="courseSearch">
      <button type="submit">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div>

  <div class="nav-auth">
    <% if (user) { %>
      <% if (user.isAdmin) { %>
        <a href="admin/dashboard" class="btn btn-primary me-2">Dashboard</a>
      <% } %>
      <button id="logoutBtn">Logout</button>
    <% } else { %>
      <a href="/signlog" class="auth-btn">Sign Up</a>
    <% } %>
  </div>
</nav>
