

<nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/courses">Courses</a></li>
            <li><a href="/contactUs">Contact Us</a></li>
            <li><a href="/aboutUs">About</a></li>
            <li><button id="sign" onclick="window.location.href='/signlog'">Sign Up</button></li>
            <li>
                <div class="cart-container">
                    <button id="cartBtn">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="cart-count">0</span>
                    </button>
                </div>
            </li>
        </ul>
    </nav>