header{
    background-color: #3D52A0;
}

h2{
    text-align: center;
    color: #EDE8F5;
    padding: 15px 0;
    margin: auto;
    font-family: "DM Sans";
    font-size: 40px;
}

nav{
    background-color: black;
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

a{
    text-decoration: none;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    padding: 10px 20px;
    color: #EDE8F5;
    transition: color 0.3s,trnasform 0.3s;
}
a:hover{
    color: #3D52A0;
    transform: scale(1.2);
}

ul{
    padding: 20px 40px;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

li{
    display: inline;
}

#log,#sign{
    width: 80px;
    height: 35px;
    border-radius: 10px;
    border: 2px solid white;
    position:absolute;
    bottom: 18%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #c1cded;
}

#log{
    right:70px;
}

#sign{
    right: 170px;
}

#log:hover,#sign:hover{
    background-color: #3D52A0;
    transform: scale(1.2);
}

#sign:hover{
    background-color: #3D52A0;
    transform: scale(1.2);
}
